<div class="bottom-offset flex">
  <div class="pgTitle">{{pgMsg}}</div>
  <div class="formDiv">
    <input type="button" class="btn btn-primary" value="Proceed" (click)="proceed()" />
    <!-- <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label class="center-block">Username:
          <input type="text" class="form-control" formControlName="user" required>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">Password:
          <input type="password" class="form-control" formControlName="pw" required>
        </label>
      </div>
      <input type="submit" class="btn btn-primary" title="Login" value="Submit"/>
    </form> -->
  </div>
  <!-- <div>
    <a class="fpLink" href="javascript:void(0)" (click)="triggerfp()" title="Recover password">Forgot password?</a>
    &#47;&nbsp; <a class="suLink" href="javascript:void(0)" (click)="triggerSu()" title="Create an Account">Create an account</a>
  </div> -->
  <!-- <p>Form value: {{ userForm.value | json }}</p> -->
</div>